<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="HTTPS force" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
                </rule>
                <rule name="Hide index.html ext" stopProcessing="true">
                <match url="^(.*)index.html"/>
                <conditions logicalGrouping="MatchAny">
                    <add input="{URL}" pattern="(.*)index.html"/>
                </conditions>
                <action type="Redirect" url="{R:1}"/>
            </rule>
            </rules>
        </rewrite>	
    </system.webServer>
</configuration>
